body {
    background-color: #088574;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

input {
    width: 50%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    outline: none;
}

button {
    width: 5rem;
    padding: 10px;
    background-color: orangered;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    outline: none;
}

/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*body {*/
/*    background-color: #1d2124;*/
/*}*/

/*.mr-20px {*/
/*    margin-right: 20px;*/
/*}*/

/*.mb-25px {*/
/*    margin-bottom: 25px;*/
/*}*/

/*.links_container {*/
/*    margin-left: 20px;*/
/*}*/

/*.links {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.white {*/
/*    color: white;*/
/*    font-size: 40px;*/
/*}*/

/*i {*/
/*    margin: 10px;*/
/*}*/

/*.push {*/
/*    margin-top: 25rem;*/
/*}*/

/*.card {*/
/*    background-color: yellow;*/
/*    width: 30rem;*/
/*    border-radius: 0 15px 15px;*/
/*    text-align: left;*/
/*}*/

/*.contacts {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding: 10px;*/
/*}*/

/*.container {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*}*/

/*.registration {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*input {*/
/*    width: 50vh;*/
/*    padding: 10px;*/
/*    border-radius: 20px;*/
/*    margin: 10px;*/
/*    outline: none;*/

/*}*/

/*a {*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    font-weight: bold;*/
/*}*/

/*button {*/
/*    background-color: orangered;*/
/*    padding: 10px;*/
/*    border-radius: 15px;*/
/*}*/